file_out/*
figure_out/*
*.lut
*.tar.gz
*.aux
*.log
*.bbl
*.blg
*.lut
*_rbub
*.out
*.dvi
*.pickle
*.png
*.pkl
*.fits
*.*~
*.pyc
*.key
*.DS_store
*.synctex.gz
*.fls
*msNotes.bib
*.fdb_latexmk
*.gz
*checkpoint.ipyinb
*.DS_store
__pycache/
*checkpoints*
build/
dist/
*.egg-info/
Output_files/*
Output_files/Figs/*
Rbubble_lists/*
watershedfils/*
*.h5
*.pdf
testcat_*
halocat_plotxHIslice
.npy
chains/*
*testmuv
#.npz
obs_constraints
